<ng-container *ngIf="loaded">
    <p-toolbar styleClass="p-custom-toolbar">
        <div class="p-toolbar-group-left">
            <div class="left-side">
                <i aria-hidden="true" class="pi pi-file"></i>
                <span class="key-detail-path">{{keyDetail.key}}</span>
            </div>
            <div class="more-info">
                <span>Last Modifed By: NamNH</span>
            </div>
        </div>

        <div class="p-toolbar-group-right">
            <button pButton aria-label="button" icon="pi pi-refresh button-header"
                class="p-button-rounded p-button-text p-button-icon-only" (click)="refresh()" pTooltip="Refresh"
                tooltipPosition="top"></button>
            <button pButton aria-label="button" icon="pi pi-download button-header"
                class="p-button-rounded p-button-text p-button-icon-only" (click)="export()" pTooltip="Export node"
                tooltipPosition="top"></button>
            <button pButton aria-label="button" icon="pi pi-upload button-header"
                class="p-button-rounded p-button-text p-button-icon-only" (click)="import()" pTooltip="Import node"
                tooltipPosition="top"></button>
            <button pButton aria-label="button" icon="pi pi-code button-header"
                class="p-button-rounded p-button-text p-button-icon-only" (click)="formatContent()"
                pTooltip="Format content" tooltipPosition="top"></button>
            <button pButton aria-label="button" icon="pi pi-book button-header"
                class="p-button-rounded p-button-text p-button-icon-only" (click)="viewAllVersion()"
                pTooltip="View all version" tooltipPosition="top"></button>
            <button pButton aria-label="button" icon="pi pi-save button-header"
                class="p-button-rounded p-button-text p-button-icon-only" (click)="save()" pTooltip="Save"
                tooltipPosition="top"></button>
        </div>
    </p-toolbar>
    <ngs-code-editor [theme]="theme" [codeModel]="codeModel" [options]="options" (valueChanged)="onCodeChanged($event)"
        [style]="{'height':'calc(100vh - 270px)','overflow':'auto'}">
    </ngs-code-editor>
</ng-container>