/* You can add global styles to this file, and also import other style files */
@import "assets/fontawesome-free-6.1.1-web/scss/fontawesome.scss";
@import "assets/fontawesome-free-6.1.1-web/scss/regular.scss";
@import "assets/fontawesome-free-6.1.1-web/scss/solid.scss";
@import "assets/fontawesome-free-6.1.1-web/scss/brands.scss";
@import "assets/fontawesome-free-6.1.1-web/scss/v4-shims.scss";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";
@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_layout";
@import "assets/sass/overrides/_overrides";
@import "~prismjs/themes/prism-dark.css";


.form-footer {
    text-align: center;

    button {
        margin-left: 20px;
        margin-top: 20px;
    }
}

.layout-main {
    width: 100%;
}

.dropdown-select-connection {
    min-width: 500px;
}

.p-custom-toolbar {
    padding: 0.8rem;
}
