<ng-container *ngIf="loaded">
    <ng-container *ngIf="viewMode == 'list'">
        <p-listbox [options]="listDataSource" [(ngModel)]="selectedKey" optionLabel="key" [filter]="true"
            (onChange)="onChangeSelectedKey($event)" [listStyle]="{'height':'calc(100vh - 330px)','overflow':'auto'}">
            <ng-template pTemplate="header">
                <button pButton aria-label="button" type="button" icon="pi pi-plus"
                    class="p-button-rounded p-button-text p-button-icon-only" (click)="newKey()" pTooltip="New key"
                    tooltipPosition="top"></button>
                <button pButton aria-label="button" type="button" icon="pi pi-refresh"
                    class="p-button-rounded p-button-text p-button-icon-only" (click)="refreshList()"
                    pTooltip="Refresh list" tooltipPosition="top"></button>
                <button pButton aria-label="button" type="button" icon="pi pi-download"
                    class="p-button-rounded p-button-text p-button-icon-only" (click)="export()" pTooltip="Export node"
                    tooltipPosition="top"></button>
                <button pButton aria-label="button" type="button" icon="pi pi-upload"
                    class="p-button-rounded p-button-text p-button-icon-only" (click)="import()" pTooltip="Import node"
                    tooltipPosition="top"></button>
                <button pButton aria-label="button" type="button" icon="pi pi-sitemap"
                    class="p-button-rounded p-button-text p-button-icon-only" (click)="switchViewMode()"
                    pTooltip="Switch view mode list and tree" tooltipPosition="top"></button>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <!-- TODO: This (contextmenu) is not working -->
                <div class="key-list-item"
                    (contextmenu)="showContextMenuViewModeList(contextMenuViewModeListControl, $event, item)"
                    (mousedown)="preventMouseDown($event)">
                    <i aria-hidden="true" class="pi pi-file"></i>
                    <span>{{item.key}}</span>
                </div>
            </ng-template>
        </p-listbox>
    </ng-container>
    <ng-container *ngIf="viewMode == 'tree'">

    </ng-container>
</ng-container>

<ng-container *ngIf="showNewKeyForm">
    <p-dialog header="New key" [(visible)]="showNewKeyForm"
        [style]="{'min-with': '900px', 'min-height': '650px', width: '900px', height: '650px' }" [closeOnEscape]="true"
        [appendTo]="'body'" [focusOnShow]="false" [focusTrap]="false" [modal]="true" [responsive]="true"
        [maximizable]="true" [autoZIndex]="true" #dialog>
        <app-new-key #newKey [dialog]="dialog" (onSave)="onSaveNewKey($event)"></app-new-key>
        <ng-template pTemplate="footer">
            <button *ngFor="let button of newKey.buttons" pButton aria-label="button" [class]="button.styleClass"
                [disabled]="button.disabled" type="button" [icon]="button.icon" (click)="button.command()"
                [label]="button.label"></button>
        </ng-template>
    </p-dialog>
</ng-container>
<p-contextMenu #contextMenuViewModeListControl [model]="contextMenuViewModeList"></p-contextMenu>
